{% extends 'base.html' %}


{% block content%}






<h1 id="about-me">About me</h1>

<p>I’m a full stack developer and educator based in Boston. I’ve written <a href="https://wsvincent.com/books">two (soon to be three)</a> books on Django and co-host the <a href="https://djangochat.com">Django Chat Podcast</a>.</p>

<p>Previously I worked at numerous early-stage startups, most notably <a href="http://quizlet.com/">Quizlet</a>, and taught computer science at <a href="http://williams.edu/">Williams College</a>. Outside of programming I’m an <a href="https://wsvincent.com/reading">avid reader</a>.</p>

<p>To stay up-to-date on new tutorials please sign up for <a href="/newsletter">my monthly newsletter</a>!</p>


<h2 id="selected-projects">Selected Projects</h2>

<ul>
  <li><a href="https://github.com/wsvincent/djangox">DjangoX</a> - starter framework for new Django projects</li>
  <li><a href="https://github.com/wsvincent/drfx">DRFX</a> - starter framework for new Django REST Framework projects</li>
  <li><a href="https://github.com/wsvincent/awesome-django">Awesome Django</a> - curated list of awesome Django resources</li>
  <li><a href="https://sqljs.org/">SQLjs</a> - online SQL interpreter</li>
  <li><a href="/htmlescapetool/">HTML Escape Tool</a> - automatically escape/unescape HTML code</li>
</ul>


{% endblock %}
