{% extends 'base.html' %}
{% load static %}
{% block content%}

	<h2> New Article </h2>
	<form action="" method="post" enctype="multipart/form-data">

    {% csrf_token %}
    {% for hidden in article_form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

						<div id="container">
              {{ article_form.title.label_tag }}
              <input
                type="text"
                class="form-control"
                id="id_title"
                name="title"
                placeholder="Your name"
                value="{{ article_form.title.value|default:'' }}" >
              {% if form.title.errors %}
                <div class="invalid-feedback">
                  {{ form.title.errors }}
                </div>
              {% endif %}
            </div>
    <div id="container">
        <textarea class="editable medium-editor-textarea " name="body" >{{article_form.body.value|default:""}}</textarea>
    </div>


    {{ formset.management_form }}
    {% for form in formset %}
        {{ form }}
    {% endfor %}
			<button class = "btn btn-success ml-2" type = "submit" >Save</button>
	</form>
{% endblock content%}

     {% block js %}
<script src="{% static 'js/medium-editor.js' %}"></script>
      {% endblock js %}
